@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fff0d8;
  }
}

@layer components {
  .organic-shape {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  .organic-shape-2 {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  .organic-shape-3 {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }
}
